*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.error-true{
    color: rgb(14, 194, 239);
}
.full{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100vh;
    background-color: rgb(17, 192, 174);
    border-radius: 80px;

}
.inputs-error{
    border: 2px solid red;
    width:90%;
    margin:20px;
    padding:10px 20px;
    border-radius: 10px;
}
.forg{
    text-align: center;
    font-size: 1.7rem;
    margin:5px;
}
.forms{
    background-color: white;
    padding:10px;
    width:400px;
    height:35vh;
    padding:10px;
    border-radius: 10px;
}
.inputs{
    width:90%;
    margin:20px;
    padding:10px 20px;
    border-radius: 10px;
    border: 2px solid orange;
}
.error-text{
    font-size: 1rem;
    color:red;
}
.btn{
    align-items: center;
    width:70%;
    padding:10px 10px ;
    border: none;
    background-color:rgb(17, 192, 174) ;
    color:white;
    padding: 15px;
    margin-top:5px;margin-left: 50px;
    font-size: 1rem;
}
.btn:hover{
    background-color:rgb(26, 112, 102) ;
    cursor:pointer;

}